# Python
# all __pycache__ directories
__pycache__/
# all .pyc files
*.pyc
# all .pyo files
*.pyo
# all .pyd files
*.pyd
# all .pyw files
*.pyw

*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# IDE
.vscode/
.idea/

# Local config
globalGB/GB_search_config.json

# Data (if large/generated)
*.h5
*.npy

# Jupyter
.ipynb_checkpoints/